{{>header}}
<div class="container" style="padding-top: 2.5rem !important;">
	<div class="row">
		<div class="col-md-6">
			<div class="card border-secondary mb-3">
				<div class="card-header">Creacion de Fixture</div>
				<div class="card-body">
					<p class="card-text">
						<div class="form-inline">
							<form id="formDatosNuevoFixture" class="form-inline">
								<div class="form-group">
								    <label for="nombreFixture">Nombre: </label>
								    <input type="text" class="form-control" id="nombreFixture" name="nombreFixture" maxlength="128">
								</div>
							</form>
						  	<button class="btn btn-primary" onclick="sendNuevoFixture();">Crear</button>
						</div>		
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card border-secondary mb-3">
				<div class="card-header">Creacion de Equipo</div>
				<div class="card-body">
					<p class="card-text">
						<div class="form-inline">
							<form id="formDatosNuevoEquipo" class="form-inline">
								<div class="form-group">
								    <label for="nombreEquipo">Nombre: </label>
								    <input type="text" class="form-control" id="nombreEquipo" name="nombreEquipo" maxlength="128">
								</div>
							</form>
						  	<button class="btn btn-primary" onclick="sendNuevoEquipo();">Crear</button>
						</div>		
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card border-secondary mb-3">
				<div class="card-header">Creacion de Fecha</div>
				<div class="card-body">
					<p class="card-text">
						<div class="form-group">
						  	<label for="entidad">Seleccione Fixture Padre:</label>
							<select class="form-control" id="fixPadre">
							</select>
						</div>
						<div class="form-inline">
							<form id="formDatosNuevaFecha" class="form-inline">
								<div class="form-group">
								    <label for="nombreFecha">Nombre Fecha: </label>
								    <input type="text" class="form-control" id="nombreFecha" name="nombreFecha" maxlength="128">
								</div>
							</form>
						  	<button class="btn btn-primary" onclick="sendNuevaFecha();">Crear</button>
						</div>		
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card border-secondary mb-3">
				<div class="card-header">Creacion de Partido</div>
				<div class="card-body">
					<p class="card-text">
						<div class="form-group">
						  	<label for="fixFechaPadre">Seleccione Fixture:</label>
							<select class="form-control" id="fixFechaPadre">
							</select>
						</div>
						<div class="form-group">
							<form id="formDatosNuevoPartido">
								<div class="form-group">
								  	<label for="fechaPadrePart">Seleccione Fecha:</label>
									<select class="form-control" id="fechaPadrePart" name="fechaPadrePart">
									</select>
								</div>
								<div class="form-group">
								  	<label for="equipoLocal">Local: </label>
									<select class="form-control" id="equipoLocal" name="equipoLocal">
									</select>
								</div>
								<div class="form-group">
								  	<label for="equipoVisitante">Visitante: </label>
									<select class="form-control" id="equipoVisitante" name="equipoVisitante">
									</select>
								</div>
								<div class="form-group">
								  	<label for="partidoFecha">Se juega: </label>
									<input type="date" class="form-control" id="partidoFecha" name="partidoFecha">
								</div>
							</form>
						  	<button class="btn btn-primary" onclick="sendNuevoPartido();">Guardar</button>
						</div>		
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card border-secondary mb-3">
				<div class="card-header">Carga de Resultado</div>
				<div class="card-body">
					<p class="card-text">
						<div class="form-group">
						  	<label for="sel1">Seleccione Fixture:</label>
							<select class="form-control" id="fixtures">
							</select>
						</div>
						<div class="form-group">
						  	<label for="sel1">Seleccione Fecha:</label>
							<select class="form-control" id="fechas">
							</select>
						</div>
						<div class="form-group">
						  	<label for="sel1">Seleccione Partido:</label>
							<select class="form-control" id="partidos">
							</select>
						</div>
						<div class="form-group">
							<form id="formDatos">
								<div class="form-group">
								    <label for="localGol">Cant Goles Local: </label>
								    <input type="number" class="form-control" id="localGol" name="cantL" maxlength="3">
								</div>
							  	<div class="form-group">
							    	<label for="visitGol">Cant Goles Visitante: </label>
							    	<input type="number" class="form-control" id="visitGol" name="cantV" maxlength="3">
							  	</div>
							</form>
						  	<button class="btn btn-primary" onclick="sendResultado();">Guardar</button>
						</div>		
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(function() {
  		//Se cargan los Fixtures
  		cargarDatosSelect($("#fixtures"),"../api/fixture");
  		cargarDatosSelect($("#fixPadre"),"../api/fixture");
  		cargarDatosSelect($("#fixFechaPadre"),"../api/fixture");
  		cargarDatosSelect($("#equipoLocal"),"../api/equipo");
  		cargarDatosSelect($("#equipoVisitante"),"../api/equipo");

  		$("#fixtures").change(function(){
  			cargarDatosSelect($("#fechas"), "../api/fixture/"+$("#fixtures").val());
		});

		$("#fixFechaPadre").change(function(){
  			cargarDatosSelect($("#fechaPadrePart"), "../api/fixture/"+$("#fixFechaPadre").val());
		});

		$("#fechas").change(function(){
  			cargarDatosSelect($("#partidos"), "../api/fecha/"+$("#fechas").val(), true);
		});
	});

	function cargarDatosSelect(elem, url, isPartido = false){
		$.ajax(url, {
		    type: 'get',
		    success: function(data){
		    	elem.html("");
		    	elem.append($('<option>', { 
				        value: -1,
				        text : "SELECCIONE OPCION" 
				}));
		    	$.each(data, function (i, item) {
		    		if(isPartido && item.jugado == "true"){
		    			return;
		    		}
				    elem.append($('<option>', { 
				        value: item.id,
				        text : (!isPartido)?(item.name):(item.fecha_jugada + " Local:" + item.name_local + " - Visitante: "+ item.name_visitante)
				    }));
				});
		    },
		    error: function() {
			    console.log("No se ha podido obtener la información");
			}
		});
	}

	function sendResultado(){
		$.ajax("../../api/partido/" + $("#partidos").val() + "/resultado", {
		    type: 'post',
		    data: $("#formDatos").serialize(),
		    success: function(data){
		    	console.log(data);
		    	alert("Estado: "+ data);
		    },
		    error: function() {
			    alert("Error al guardar datos");
			}
		});
	}

	function sendNuevaFecha(){
		$.ajax("../../api/fixture/" + $("#fixPadre").val() + "/fecha", {
		    type: 'post',
		    data: $("#formDatosNuevaFecha").serialize(),
		    success: function(data){
		    	console.log(data);
		    	alert("Estado: "+ data);
		    	//Clear Form
		    	cargarDatosSelect($("#fixPadre"),"../api/fixture");
		    	$("#formDatosNuevaFecha")[0].reset();
		    },
		    error: function() {
			    alert("Error al guardar datos");
			}
		});
	}

	function sendNuevoFixture(){
		$.ajax("../../api/fixture", {
		    type: 'post',
		    data: $("#formDatosNuevoFixture").serialize(),
		    success: function(data){
		    	console.log(data);
		    	alert("Estado: "+ data);
		    	//Clear Form
		    	$("#formDatosNuevoFixture")[0].reset();
		    },
		    error: function() {
			    alert("Error al guardar datos");
			}
		});
	}

	function sendNuevoEquipo(){
		$.ajax("../../api/equipo", {
		    type: 'post',
		    data: $("#formDatosNuevoEquipo").serialize(),
		    success: function(data){
		    	console.log(data);
		    	alert("Estado: "+ data);
		    	//Clear Form
		    	$("#formDatosNuevoEquipo")[0].reset();
		    },
		    error: function() {
			    alert("Error al guardar datos");
			}
		});
	}

	function sendNuevoPartido(){
		$.ajax("../../api/partido", {
		    type: 'post',
		    data: $("#formDatosNuevoPartido").serialize(),
		    success: function(data){
		    	console.log(data);
		    	alert("Estado: "+ data);
		    	//Clear Form
		    	$("#formDatosNuevoPartido")[0].reset();
		    },
		    error: function() {
			    alert("Error al guardar datos");
			}
		});
	}
</script>

{{>footer}}