{{>header}}
<div class="container" style="padding-top: 2.5rem !important;">
	<div class="row">
		<div class="col-md-6">
			<div class="card border-secondary mb-3">
				<div class="card-header">Carga de Resultado</div>
				<div class="card-body">
					<p class="card-text">
						<div class="form-group">
						  	<label for="sel1">Seleccione Fixture:</label>
							<select class="form-control" id="fixtures">
							</select>
						</div>
						<div class="form-group">
						  	<label for="sel1">Seleccione Fecha:</label>
							<select class="form-control" id="fechas">
							</select>
						</div>
						<div class="form-group">
						  	<label for="sel1">Seleccione Partido:</label>
							<select class="form-control" id="partidos">
							</select>
						</div>
						<div class="form-inline">
							<form id="formDatos" class="form-inline">
								<div class="form-group">
								    <label for="localGol">Local: </label>
								    <input type="number" class="form-control" id="localGol" name="cantL" maxlength="3">
								</div>
							  	<div class="form-group mx-sm-3">
							    	<label for="visitGol">Visitante: </label>
							    	<input type="number" class="form-control" id="visitGol" name="cantV" maxlength="3">
							  	</div>
							</form>
						  	<button class="btn btn-primary" onclick="sendResultado();">Guardar</button>
						</div>		
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card border-secondary mb-3">
				<div class="card-header">Creacion de Entidades</div>
				<div class="card-body">
					<p class="card-text">
						<div class="form-group">
						  	<label for="entidad">Seleccione Tipo:</label>
							<select class="form-control" id="entidad">
								<option value="fixture">Fixture</option>
								<option value="fecha">Fecha</option>
								<option value=""></option>
							</select>
						</div>

						<div class="form-inline">
							<form id="formDatos" class="form-inline">
								<div class="form-group">
								    <label for="localGol">Local: </label>
								    <input type="number" class="form-control" id="localGol" name="cantL" maxlength="3">
								</div>
							  	<div class="form-group mx-sm-3">
							    	<label for="visitGol">Visitante: </label>
							    	<input type="number" class="form-control" id="visitGol" name="cantV" maxlength="3">
							  	</div>
							</form>
						  	<button class="btn btn-primary" onclick="sendResultado();">Guardar</button>
						</div>		
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(function() {
  		//Se cargan los Fixtures
  		cargarDatosPartidos($("#fixtures"),"../api/fixture");
  		$("#fixtures").change(function(){
  			cargarDatosPartidos($("#fechas"), "../api/fixture/"+$("#fixtures").val());
		});

		$("#fechas").change(function(){
  			cargarDatosPartidos($("#partidos"), "../api/fecha/"+$("#fechas").val(), true);
		});
	});

	function cargarDatosPartidos(elem, url, isPartido = false){
		$.ajax(url, {
		    type: 'get',
		    success: function(data){
		    	elem.html("");
		    	elem.append($('<option>', { 
				        value: -1,
				        text : "SELECCIONE OPCION" 
				}));
		    	$.each(data, function (i, item) {
		    		if(isPartido && item.jugado == "true"){
		    			return;
		    		}
				    elem.append($('<option>', { 
				        value: item.id,
				        text : (!isPartido)?(item.name):(item.fecha_jugada + " Local:" + item.name_local + " - Visitante: "+ item.name_visitante)
				    }));
				});
		    },
		    error: function() {
			    console.log("No se ha podido obtener la información");
			}
		});
	}

	function sendResultado(){
		$.ajax("../../api/partido/" + $("#partidos").val() + "/resultado", {
		    type: 'post',
		    data: $("#formDatos").serialize(),
		    success: function(data){
		    	console.log(data);
		    	alert("Estado: "+ data);
		    },
		    error: function() {
			    alert("Error al guardar datos");
			}
		});
	}
</script>

{{>footer}}