{{>header}}
<div class="container" style="padding-top: 2.5rem !important;">
	<div class="row">
		<div class="col-md-12">
		    <div class="jumbotron">
		  		<h1>Bienvenido a Prode!!</h1>
		  		<p>El Sitio donde puedes apostar los resultados del F&uacute;tbol</p>
		  		<p><a class="btn btn-default" href="https://github.com/nicostreri/Proyecto-Analisis-Sistema" role="button"><i class="fab fa-github">&nbsp;</i>Sobre el Proyecto</a>&nbsp;<a class="btn btn-primary" href="/fixture" role="button">Fixtures Disponibles</a></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card border-primary mb-3">
			  	<div class="card-header">Login</div>
			  	<div class="card-body">
			    	<h4 class="card-title">Ingresar al Sistema</h4>
			    	<p class="card-text">
			    		<form action="/login" method="POST" role="form">
							<div class="form-group">
								<label for="username">
									Nombre Usuario
								</label>
								<input type="text" class="form-control" id="username" name="username" />
							</div>
							<div class="form-group">
								<label for="claveinput">
									Clave
								</label>
								<input type="password" class="form-control" id="claveinput" name="claveinput" />
							</div>
							<button type="submit" class="btn btn-primary">
								Ingresar
							</button>
						</form>
			    	</p>
			  	</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card border-primary mb-3">
			  	<div class="card-header">Registro</div>
			  	<div class="card-body">
			    	<h4 class="card-title">Crear una cuenta</h4>
			    	<p class="card-text">FORM DE REGISTRO</p>
			  	</div>
			</div>
		</div>
	</div>
</div>
{{>footer}}