{{>header}}
<div class="container" style="padding-top: 2.5rem !important;">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-6">
			  		<h1>Bienvenido a Prode!!</h1>
			  		<p>El Sitio donde puedes apostar los resultados del F&uacute;tbol</p>
			  		<p><a class="btn btn-default" href="https://github.com/nicostreri/Proyecto-Analisis-Sistema" role="button"><i class="fab fa-github">&nbsp;</i>Sobre el Proyecto</a>&nbsp;<a class="btn btn-primary" href="/fixture" role="button">Fixtures Disponibles</a></p>
			</div>
			<div class="col-md-6">
				<h4>{{titulo}}</h4>
				<div class="pre-scrollable" style="max-height:40vh">
					{{#mostrar}}
					<table class="table" >	
					  <thead>
					    <tr>
					      <th>#</th>
					      <th>Usuario</th>
					      <th>Puntuacion</th>
					    </tr>
					  </thead>
					  <tbody>
      					{{#hay_elem}}
							<tr>
								<td>{{num}}</td>
								<td>{{username}}</td>
								<td>{{punt}}</td>
							</tr>
							{{/hay_elem}}
					  </tbody>
					</table>
					{{/mostrar}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		{{#mostrarLogReg}}
		<div class="col-md-6">
			<div class="card border-primary mb-3">
			  	<div class="card-header">Login</div>
			  	<div class="card-body">
			    	<h4 class="card-title">Ingresar al Sistema</h4>
			    	<p class="card-text">
			    		<form action="/login" method="POST" role="form">
							<div class="form-group">
								<label for="username">
									Nombre de Usuario
								</label>
								<input type="text" class="form-control" id="username" name="username" />
							</div>
							<div class="form-group">
								<label for="claveinput">
									Clave
								</label>
								<input type="password" class="form-control" id="claveinput" name="claveinput" />
							</div>
							<button type="submit" class="btn btn-primary">
								Ingresar
							</button>
						</form>
			    	</p>
			  	</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card border-primary mb-3">
			  	<div class="card-header">Registro</div>
			  	<div class="card-body">
			    	<h4 class="card-title">Crear una cuenta</h4>
			    	<p class="card-text"><a class="btn btn-primary" href="/registro" role="button">Registrarse</a></p>
			  	</div>
			</div>
		</div>
		{{/mostrarLogReg}}
	</div>
</div>
{{>footer}}