{{>header}}
<div class="container" style="padding-top: 2.5rem !important;">
    <div class="row">
    	<h2>Fecha: {{name_fecha}}</h2>
		<table class="table">
		  	<thead>
		    	<tr>
		      		<th scope="col">Estado</th>
		      		<th scope="col">Fecha</th>
		      		<th scope="col">Local</th>
		      		<th scope="col">Visitante</th>
		      		<th scope="col">Opciones</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		  		{{#hay_elem}}
			    <tr>
			    	{{#jugado}}
						<td><i class="fas fa-futbol" style="color: green;" title="Jugado"></i></th>
				      	<td>{{fecha_jugada}}</td>
			      		<td>{{name_local}}&nbsp;({{cantGolLocal}})</td>
			      		<td>{{name_visitante}}&nbsp;({{cantGolVisitante}})</td>
					{{/jugado}}
					{{^jugado}}
						<td><i class="fas fa-futbol" style="color: red;" title="No Jugado"></i></th>
						<td>{{fecha_jugada}}</td>
			      		<td>{{name_local}}</td>
			      		<td>{{name_visitante}}</td>
					{{/jugado}}
			      	
			      	{{#posible_apostar}}
			      		<td>AQUI TABLERO APUESTA</td>
			      	{{/posible_apostar}}
			      	{{^posible_apostar}}
			      		<td></td>
			      	{{/posible_apostar}}
			    </tr>
		    	{{/hay_elem}}
		  	</tbody>
		</table>
		{{#posible_apostar}}
			<button type="button" class="btn btn-success">Guardar Apuesta</button>
		{{/posible_apostar}}     
    </div>
</div>

<script type="text/javascript">
	/*$(document).ready(function() {
        var cantLocal = 0;
        var cantVisit = 0;

				$(".numero").parent("tr").find("td").each(function() {
        		if($(this).html() != "coger valores de la fila"){
            	 valores += $(this).html() + " ";
            }
        });
        
        valores = valores + "\n";
        alert(valores);
    });*/
</script>

{{>footer}}