{{>header}}
<div class="container" style="padding-top: 2.5rem !important;">
    <div class="row">
    	<h2>Fecha: {{name_fecha}}</h2>
		<table class="table">
		  	<thead>
		    	<tr>
		      		<th scope="col">Estado</th>
		      		<th scope="col">Fecha</th>
		      		<th scope="col">Local</th>
		      		<th scope="col">Visitante</th>
		      		<th scope="col">Opciones</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		  		{{#hay_elem}}
			    <tr>
			    	{{#jugado}}
						<td><i class="fas fa-futbol" style="color: green;" title="Jugado"></i></th>
				      	<td>{{fecha_jugada}}</td>
			      		<td>{{name_local}}&nbsp;({{cantGolLocal}})</td>
			      		<td>{{name_visitante}}&nbsp;({{cantGolVisitante}})</td>
					{{/jugado}}
					{{^jugado}}
						<td><i class="fas fa-futbol" style="color: red;" title="No Jugado"></i></th>
						<td>{{fecha_jugada}}</td>
			      		<td>{{name_local}}</td>
			      		<td>{{name_visitante}}</td>
					{{/jugado}}
			      	
			      	{{#posible_apostar}}
			      		<td><div id="{{id}}" class="btn-group" role="group" aria-label="Basic example">
						  	<button onclick="addVoto('{{id}}',-1)" type="button" class="btn btn-default" title="Gana Local"><i class="far fa-smile"></i></button>
						  	<button onclick="addVoto('{{id}}',0)" type="button" class="btn btn-default" title="Empate"><i class="far fa-meh"></i></button>
						  	<button onclick="addVoto('{{id}}',1)" type="button" class="btn btn-default" title="Gana Visitante"><i class="far fa-smile"></i></button>
						</div></td>
			      	{{/posible_apostar}}
			      	{{^posible_apostar}}
			      		<td></td>
			      	{{/posible_apostar}}
			    </tr>
		    	{{/hay_elem}}
		  	</tbody>
		</table>
		{{#posible_apostar}}
			{{#logeado}}
			<button onclick="sendVotos();" type="button" class="btn btn-success">Guardar Apuesta</button> <span id="idResp"></span>
			{{/logeado}}
			{{^logeado}}
			<a class="btn btn-success" href="../../login" role="button"><i class="fas fa-user"></i>&nbsp;Ingresar para Apostar</a>
			{{/logeado}}

		{{/posible_apostar}}     
    </div>
</div>

<script type="text/javascript">
	var votos = {};
	function addVoto(idPartido, voto){
		/*
			voto: -1 Gana Local, 0 Empate, +1 Gana Visitante
		*/
		console.log("En "+ idPartido + " voto " + voto);
		switch(voto) {
		    case -1:
		        acomodarBotones(idPartido,0);
		        break;
		    case 0:
		        acomodarBotones(idPartido,1);
		        break;
		    case 1:
		        acomodarBotones(idPartido,2);
		        break;
		    default:
		        break;
		}
		votos["p"+idPartido] = voto;
	}

	function acomodarBotones(idGrupo, boton){
		var botones = $("#"+idGrupo+" .btn i");
		for(var i=0; i<3; i++){
			$(botones[i]).removeClass("text-success");
		}
		$(botones[boton]).addClass("text-success");
	}

	function sendVotos(){
		/*
			Funcion que se encarga de enviar la informacion al Servidor y
				muestra la respuesta
		*/
		$("#idResp").html("Espere...");
		$.ajax(window.location.href, {
		    type: 'post',
		    data: JSON.stringify(votos),
		    
		    contentType: 'application/json',
		    success: function(data){
		    	$("#idResp").html(data);
		    	console.log(data);
		    },
		    error: function() {
			    console.log("No se ha podido obtener la información");
			}
		});
	}
</script>

{{>footer}}