{{>header}}
<div class="container" style="padding-top: 2.5rem !important;">
    <div class="row">
    	<h2>Fecha: {{name_fecha}}</h2>
		<table class="table">
		  	<thead>
		    	<tr>
		      		<th scope="col">#</th>
		      		<th scope="col">Fecha</th>
		      		<th scope="col">Local</th>
		      		<th scope="col">Visitante</th>
		      		<th scope="col">Opciones</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		  		{{#hay_elem}}
			    <tr>
			      	<th scope="row">{{id}}</th>
			      	<td>{{fecha_jugada}}</td>
			      	<td>{{name_local}}</td>
			      	<td>{{name_visitante}}</td>
			      	<td><a href="../fecha/{{id}}"><div class="fa fa-eye"></div></a></td>
			    </tr>
		    	{{/hay_elem}}


		    	TERMINAR
		  	</tbody>
		</table>      
    </div>
</div>