{{>header}}
<div class="container" style="padding-top: 2.5rem !important;">
    <div class="row">
      <h2>Resultado de la Apuesta</h2><small class="text-muted">(10 puntos por resultado acertado, Bonus: 200 mas de la Mitad acertados, 500 todos acertados)</small>
		<table class="table">
		  	<thead>   
           <tr>
		      		<th scope="col">Fecha</th>
		      		<th scope="col">Local</th>
		      		<th scope="col">Visitante</th>
		      		<th scope="col">Apuesta</th>
              <th scope="col">Resultado</th>
		    	</tr>
        </thead>
		  	<tbody> 
          {{#hay_elem}}
			    <tr>
            <td>{{fecha_jugada}}</td>
            <td>{{name_local}}&nbsp;({{cantGolLocal}})</td>
			      <td>{{name_visitante}}&nbsp;({{cantGolVisitante}})</td>
            <td>{{apuesta}}</td>
            <td>{{result}}</td>
          </tr>
		    	{{/hay_elem}}
        </tbody>
		</table>
    
    </div>
</div>
{{>footer}}
