{{>header}}
<div class="container" style="padding-top: 2.5rem !important;">
    <div class="row">
      <h2>Apuestas Realizadas {{fecha_name}}</h2>
		<table class="table">
		  	<thead>   
           <tr>
		      		<th scope="col">Fecha</th>
		      		<th scope="col">Local</th>
		      		<th scope="col">Visitante</th>
		      		<th scope="col">Apuesta</th>
		    	</tr>
        </thead>
		  	<tbody> 
          {{#hay_elem}}
			    <tr>
            <td>{{fecha_jugada}}</td>
            <td>{{name_local}}</td>
			      <td>{{name_visitante}}</td>
            <td>{{apuesta}}</td>
          </tr>
		    	{{/hay_elem}}
        </tbody>
		</table>  
    </div>
</div>
{{>footer}}
