{{>header}}
<div class="container" style="padding-top: 2.5rem !important;">
   <div class="row"> 
      <div class="col-md-12">
        <div class="panel panel-secondary">
        <div class="panel-heading">
            <h3 style="text-align: center;" >Mis Fixtures</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
							<h5 class="titulo">Fixtures disponibles</h5>
                  <div class="pre-scrollable" style="max-height:50vh">
								    <table class="table" >	
								        <thead>
								            <tr>
                		      	<th scope="col">#</th>
		                    		<th scope="col">Nombre</th>
		                    		<th scope="col">Opciones</th>
								            </tr>
								        </thead>
								        <tbody>
                        {{#hay_elem_fixNoSus}}
													<tr>
													<th scope="row">{{id}}</th>
													<td>{{name}}</td>
													<td>
                          <button class="btn btn-primary" onclick="sendResultado('{{id}}');"><div class="fa fa-check-circle"></div> Suscribirse</button>
                          </td>
													</tr>
												{{/hay_elem_fixNoSus}}
								        </tbody>
								    </table>
                  </div>
               </div>
              <div class="col-md-6">
							<h5 class="tituloSus">Fixtures suscritos</h5>
                  <div class="pre-scrollable" style="max-height:50vh">
								    <table class="table" >	
								        <thead>
								            <tr>
                		      	<th scope="col">#</th>
		                    		<th scope="col">Nombre</th>
								            </tr>
								        </thead>
								        <tbody>
                        {{#hay_elem_fixSus}}
													<tr>
													<th scope="row">{{id}}</th>
													<td>{{name}}</td>
													</tr>
												{{/hay_elem_fixSus}}
								        </tbody>
								    </table>
                </div>
               </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">

	function sendResultado(idFix){
		$.ajax("../protegido/misfixture", {
		    type: 'post',
		    data: $(idFix).serialize(),
		    success: function(data){
		    	console.log(data);
		    	alert("Estado: "+ data);
		    },
		    error: function() {
			    alert("Error al guardar datos ");
			}
		});
	}

</script>

{{>footer}}
