{{>header}}
<div class="container" style="padding-top: 2.5rem !important;">
    <div class="page-header">
        <h2>Registro de Usuario</h2>
    </div>
    <p>Completa los siguientes campos para continuar:</p>
    <div class="row">
        <div class="col-md-12">
            {{#error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            {{/error}}
            <form action="/registro" method="post">
            	<div class="font-weight-bold">
    	            <div class="form-group">
    					<label for="nombre">Nombre:&nbsp;</label>
    					<input class="form-control" placeholder="Nombre" type="text" id="nombre" name="nombre" required>
    	            </div>
    	            <div class="form-group">
    	                <label for="apellido">&nbsp;Apellido:&nbsp;</label>
    	                <input class="form-control" placeholder="Apellido" type="text" id="apellido" name="apellido" required>
    	            </div>
    	        </div>
                <div class="form-group font-weight-bold">
                    <label for="usuario">Usuario:&nbsp;</label>
                    <input class="form-control" placeholder="Usuario" type="text" name="usuario" id="usuario" maxlength="128" required>
                </div>
                <div class="font-weight-bold">
                    <div class="form-group">
                        <label for="pwd1">Contraseña:&nbsp;</label>
                        <input class="form-control" placeholder="Ingrese contraseña" type="password" id="pwd1" name="pwd1" required >
                    </div>
                    <div class="form-group">
                        <label for="pwd2">&nbsp;Confirmar Contraseña:&nbsp;</label>
                        <input class="form-control" placeholder="Contraseña" type="password" id="pwd2" name="pwd2" required>
                    </div>
                </div>
                <button type="submit" id="btn_submit" class="btn btn-primary">
                    Registrarse
                </button>
            </form>
        </div>
    </div>
</div>
{{>footer}}